.background-alt {
    background:#112240;
}

#experience {
    padding:50px 15px;
    text-align:center;
    border-bottom:1px solid #64ffda;
}
    
#experience h2 {
    color:#64ffda;
    font-size: 40px;
}

#experience-timeline {
    margin:30px auto 0 auto;
    position:relative;
    max-width:1000px;
}

#experience-timeline:before {
    position:absolute;
    content:'';
    top:0;
    bottom:0;
    left:303px;
    right:auto;
    height:100%;
    width:3px;
    background:#64ffda;
    z-index:0;
}

#experience-timeline:after {
    position:absolute;
    content:'';
    width:3px;
    height:40px;
    background:linear-gradient(to bottom, #64ffda, rgba(52,152,219,0));
    top:100%;
    left:303px;
}

.vtimeline-content {
    margin-left:350px;
    background:#233554;
    border:1px solid #ccd6f6;
    padding:15px;
    border-radius:3px;
    text-align:left;
}

.vtimeline-content h3 {
    font-size:1.5em;
    font-weight:300;
    color:#64ffda;
    display:inline-block;
    margin:0;
}

.vtimeline-content h4 {
    font-size:1.2em;
    font-weight:300;
    color:#ccd6f6;
    margin:0 0 15px 0;
}

.vtimeline-content p {
    color:#ccd6f6;
    font-size:0.9em;
    margin:0;
}

.vtimeline-point {
    position:relative;
    display:block;
    margin-bottom:30px;
}
    
.vtimeline-icon {
    position:relative;
    color:#233554;
    width:50px;
    height:50px;
    background:#64ffda;
    border-radius:50%;
    float:left;
    z-index:99;
    margin-left:280px;
}
    
.vtimeline-icon i {
    display:block;
    font-size:2em;
    margin-top:10px;
}

.vtimeline-date {
    width:260px;
    text-align:right;
    position:absolute;
    left:0;
    top:10px;
    font-weight:300;
    color:#8892b0;
}
