header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    z-index:10;
    animation-name:dropHeader;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-duration:0.75s;
}

header ul {
    display:inline-block;
    background:#233554;
    text-align:center;
    padding:10px;
    margin-left: -265px;
    margin-top: 0;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    position: fixed;
    top: 0;
}

header li {
    display:inline-block;
}

header a {
    display:block;
    color:#ccd6f6;
    padding:10px
}

header a:hover {
    color:#112240;
    text-decoration:none;
    background:#64ffda;
    border-radius:4px;
}

header a:focus {
    color:#3498db;
    text-decoration:none;
}

header.active {
    display:block;
}

header.sticky {
    position:fixed;
    z-index:999;
}

#menu.active {
    display:block;
}

.heading {
    position:relative;
    display:inline-block;
    font-size:2em;
    font-weight:300;
    margin:0 0 30px 0;
}

.heading:after {
    position:absolute;
    content:'';
    top:100%;
    height:1px;
    width:50px;
    left:0;
    right:0;
    margin:0 auto;
    background:#3498db;
}
