#projects {
    padding:50px 15px;
    border-bottom:1px solid #64ffda;
    text-align:center;
}

#projects h2 {
    color:#64ffda;
    margin-bottom:50px;
    font-size: 40px;
}

.project {
    position:relative;
    max-width:900px;
    margin:0 auto 30px auto;
    overflow:hidden;
    background:#233554;
    border-radius:4px;
    border:1px solid #ccd6f6;
}

.project-image {
    float:left;
    border:3px solid #64ffda;
}

.project-info {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    margin-left:300px;
    padding:15px;
}

.project-info h3 {
    font-size:1.5em;
    font-weight:300;
    color:#64ffda;
    margin:0 0 15px 0;
}

.project-info p {
    color:#ccd6f6;
    margin:0 0 15px 0;
    font-size:0.9em;
}

.no-image .project-info {
    position:relative;
    margin:0;
    padding:30px 15px;
    transform:none;
}

#more-projects {
    display:none;
}

.p-img {
    color:#64ffda;
}



